.App {
  text-align: center;
}


.Nav {
  position: fixed;
  z-index: 99;
  height: 52px;
  width: 100%;
  background-color: purple;
  

}

.Feed {
  display: inline-block;
  position: relative;
  float: left;
  margin-right: 28px;
  max-width: 614px;
  width: 100%;
  background-color: yellow;
}

.Sidebar {
  right: 0;
  top: 0;

  display: inline-block;
  position: fixed;

  left: 674.5px;
  top: 78px;
  max-width: 293px;
  width: 100%;
  height: 100%;
}

.PhotoHeader {
  background-image: url(./img/userTiles.png);
  height: 100px;
  padding: 0;
}

strong {
  line-height: 10px;
}

p {
  line-height: 5px;
}

.Comments {
  background-color: hotpink;
  padding:  0 16px;
  height: 200px;
}

.commentsButtons {
  width: 100%;
  height: 40px;
  left: 0;
}

.likeCount {
  width: 100%;
  height: 18px;
  left: 0;
}

.Interaction {
  background-color: limegreen;
}

.PhotoTile {
  background-color: lavender;
  margin-bottom: 60px;
}

.UserHeader {
  background-color: orange;
  background-image: url(./img/UserTile.png);
  position: relative;
  top: 0;
  height: 100px;
}

.Stories {
  /* background-image: url(./img/story.png); */
  height: 240px;
  overflow: scroll;
}

.Sitemap {
  background-image: url(./img/sitemap.png);
  height: 60px;
  display: inline-block;
}

i {
  height: 50px;
  width:  50px;
}

main {
  display: flex;
  position: relative;
  text-align: center;
  padding-top: 60px;
  width: 100%;
  max-width: 935px;
  margin: 0 auto;
}

img {
  width: 100%;
}
