.App {
  text-align: center;
}

Nav {
  background-color: purple;
  height: 15%;
  display: flex;
}
.insta-icon{
  flex:1
}
.icon-links {
  flex: 3;
  width: 50%;
}

.icon-links {
  background: blue;
  
}

.Feed {
  background-color: yellow;
/*  position: relative;
  left: 0;
  top: 0;*/
  width: 70%;
  display: inline-block;
}

.Sidebar {
  background-color: chartreuse;
/*  position: relative;
  right: 0;
  top: 0;*/
  width: 30%;
  height: 100%;
  display: inline-block;
  position: fixed;
}

.PhotoHeader {
  height: 60px;
  padding: 0;
}

strong {
  line-height: 10px;
}

p {
  line-height: 5px;
}

.Comments {
  background-color: hotpink;
  height: 200px;
}

.Interaction {
  background-color: limegreen;
}

.PhotoTile {
  background-color: lavender;
}

.UserHeader {
  background-color: orange;
  position: relative;
  top: 0;
  height: 60px;
}

.Stories {
  background-color: red;
  height: 240px;
  overflow: scroll;
}

.Sitemap {
  background-color: teal;
  height: 60px;
  display: inline-block;
}

i {
  height: 50px;
  width:  50px;
}

main {
  width: 900px;
  max-width: 100%;
/*  position: absolute;*/
}

img {
  width: 100%;
}
